body{
  width: auto;
  padding: 0;
  margin: 0;
}
.tes{
  display: flex;
  width: auto;
  align-items: baseline;
  justify-content:space-between;
  background-color: red;
}
section {
  margin: 0 auto 0 auto;
  padding: 0;
}

#label {
  position: absolute;
  display: inline;
  top: 35%;
  left: 11%;
  text-align: center;
  width: 80%;
  margin: 0;
  padding: 0;
  border-radius: 5%;
  opacity: 0.7;
  background-color: #e6e6fa;
}

.caption {
  position: absolute;
  top: 55%;
  left: 30%;
  color: white;
  font-size: 2em;
}
.Gandalf {
  opacity: 0.5;
}
.Gandalf:hover {
  opacity: 1;
}

.Gandalf:hover ~ #label {
  opacity: 1;
  display: none;
}
.Gandalf:hover ~ .caption {
  font-size: 3em;
  left: 20%;
  top: 0;
}
.captured{
  display: flex;
}
